html{ font-family:Arial; background-color: #00BBBB;}
.center{text-align: center;}
.link{color: #004444; text-decoration: none}
.page_on{color: #001111}
header a:hover{color:#aacccc;}
header{background-color: #00DDDD}
header p{font-family: impact; font-size: 2em; background-color: #00cccc}
#footer {position: fixed;bottom: 0;width: 100%;text-align: left;}
.steam{max-height: 50px;max-width: 50px;}
/*3 image colums*/
.imgs1{list-style-type: none;}
.imgs2{list-style-type: none;}
.imgs3{list-style-type: none;}
/*page backrounds minus index (which is the default)*/
.blue-cyan{background: -webkit-linear-gradient(top, #00bbbb , #bbBB00)}
.cyan-black{background: -webkit-linear-gradient(top, #00bbBB , white);}
/*contact form*/
#form{text-align: center}
/*bootstrap page*/
.bootstrap{background-color: #00BBBB;}
.boota{hover{color:#AACCCC;} text-align: center;}
.boota A{ text-decoration: underline}